body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    background-image: url('https://wallsneedlove.com/cdn/shop/products/w0593_1s_Tropical-floral-toucan-painted-pattern-wallpaper-Equatorial-Escape_Repeating-Pattern-Sample-1.jpg?v=1635528433'); /* Arka plan resminin URL'sini buraya ekleyin */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.99); /* Opaklık ayarı */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideOpacity 3s infinite alternate; /* Animasyonu tanımla */
}

@keyframes slideOpacity {
    0% {
        opacity: 1; /* Başlangıç opaklığı */
        transform: translateY(0); /* Başlangıç pozisyonu */
    }
    100% {
        opacity: 0.90; /* Bitiş opaklığı */
        transform: translateY(10px); /* Bitiş pozisyonu */
    }
}


h2 {
    color: #007BFF;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

/* Email ve domain inputlarını yatay sıralama */
.email-container {
    display: flex;
    align-items: center;
}

.email-container input,
.email-container select {
    margin-right: -19px;
}

/* Diğer inputları da eşit hizaya getirmek için */
label,
input,
select {
    margin-bottom: 10px;
}
#goBackButton {
    margin-top: 10px; /* Go Back butonunu formun altından 20 piksel aşağıya yerleştirir */
    background-color: grey;
}
#goAddButton{
    margin-top: 10px;
    background-color: orange;
}