<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/allAnimal.css">
    <title>Animal List</title>
</head>
<body>
<div class="container">
    <div class="card">
        <h1>Animal List</h1>
        <div id="error-message"></div>
        <div id="animalList">
            <ul>
                <!-- JavaScript ile oluşturulacak hayvan listesi buraya gelecek -->
            </ul>
        </div>
        <button class="go-back" onclick="goBackMain()">Go Back Main</button>
    </div>

</div>
<div class="footer">
    <div class="social-icons">
        <a href="https://github.com/deerborg" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/ffurkanaydemir/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.behance.net/deeborgh" target="_blank"><i class="fab fa-behance"></i></a>
    </div>
    <p>deerborg</p>
</div>
<script src="/JS/allAnimal.js"></script>
</body>
</html>