
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/customer.css">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="card">
        <h2>Create Customer</h2>
        <form id="registerForm">
            <label for="fullname">Username</label>
            <input type="text" id="fullname" placeholder="Enter your full name">

            <label for="phone">Phone</label>
            <input type="text" id="phone" placeholder="05554443322" maxlength="11">

            <label for="email">Email</label>
            <div class="email-container">
                <input type="text" id="emailName" placeholder="Email Name">
                <select id="emailDomain">
                    <option value="@mail.com">@mail.com</option>
                    <option value="@gmail.com">@gmail.com</option>
                    <option value="@hotmail.com">@hotmail.com</option>
                </select>
            </div>

            <label for="address">Country</label>
            <input type="text" id="address" value="Turkey" readonly>

            <label for="city">City</label>
            <select id="city">
                <option value="Adana">Adana</option>
                <option value="Adıyaman">Adıyaman</option>
                <option value="Afyonkarahisar">Afyonkarahisar</option>
            </select>

            <button type="submit">Create</button>
            <!-- Hata mesajı gösterimi -->
            <div id="error-message" class="error-message"></div>
        </form>
        <button id="goBackButton">Go Back</button>
        <button id="goAddAnimalButton">Go Add Animal</button>
    </div>
</div>
<script src="/JS/customer.js"></script>
</body>
</html>